// Global styles
body {
  padding: 4.5rem 8.5%;
  margin : 0;

  font-family: 'Karla', sans-serif;

  background-color: $neutral-light-color;
}

button {
  font-family: 'Karla', sans-serif;
}



.app {
  max-width   : 39.7rem;
  margin-right: auto;
  margin-left : auto;

  border-radius: .3125rem;
  overflow     : hidden;
}



// Media Queries
@media (min-width: 48rem) {
  body {
    padding-top   : 10.2rem;
    padding-bottom: 10.2rem;
  }



  .app {
    border-radius: .5rem;
  }
}
