// Subscription block
.subscription {
  padding: .9375rem 7.7%;

  background-color: $primary-color;
}



// Subscription elements
.subscription__h1 {
  font-size: 1.1rem;
}


.subscription__h2 {
  display      : flex;
  align-items  : center;
  margin-top   : 1.1rem;
  margin-bottom: 1.1rem;

  font-size: 2rem;

  span {
    padding-left: .7rem;

    font-size  : .98rem;
    font-weight: 400;
    opacity    : .6;
  }
}


.subscription__p {
  margin-top: -.65rem;

  letter-spacing: -.01rem;
}


.subscription__button {
  width         : 100%;
  padding-top   : .90625rem;
  padding-bottom: .90625rem;
  margin-top    : .90625rem;
  margin-bottom : .625rem;

  color      : white;
  font-size  : 1rem;
  font-weight: 700;

  background-color: $secondary-color;
  outline         : none;
  border          : none;
  border-radius   : .3125rem;
  box-shadow      : 0 .5rem .9375rem rgba(0, 0, 0, .1);

  cursor    : pointer;
  transition: box-shadow .3s ease;

  &:hover {
    box-shadow: 0 1rem 1.25rem rgba(0, 0, 0, .2);
  }
}



// Media Queries
@media (min-width: 48rem) {

  // Subscription block
  .subscription {
    width  : 50%;
    padding: 1.9rem 6.3% 1.5rem;
  }
}
