// Colors variables

// Main colors
$primary-color  : hsl(179, 62%, 43%);
$secondary-color: hsl(71, 73%, 54%);

// Neutral colors
$neutral-light-color: hsl(204, 43%, 93%);
$neutral-dark-color: hsl(218, 22%, 67%);
